<div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="" />
            <span>
              О сайте
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <ul class="navbar-nav  ">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}">Главная страница <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('about')}}"> О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('work')}}">Выход </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('category')}}"> Статьи </a>
              </li>
            </ul>
            <div class="user_option">
              <a href="{{url_for('register')}}">
                <span>
                  Регистрация
                </span>
              </a>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
