<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{{title}}</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="" />
            <span>
              {{title}}
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">Главгая <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}"> :О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('work')}}">Профиль </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('category')}}"> Статьи </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}"> Выйти</a>
              </li>
            </ul>

            <div class="user_option">

              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>

          <div>

          </div>

        </nav>

    </header>
    <!-- end header section -->
  </div>


  <!-- freelance section -->



  <!-- end freelance section -->

  <!-- info section -->

          {% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<table border="0" class="profile-table">
         <tr><td valign="top">
                   <div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
                   <div class="profile-load">
                   <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Загрузить">
                   </form>
                   </div>
         </td>
         <td valign="top" class="profile-panel">

                   <ul class="profile-info">
                   <li>Имя: {{ current_user.getName() }}</li>
                   <li>Email: {{ current_user.getEmail() }}</li>
                   </ul>
         </td></tr>
</table>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayDate"></span> Сайт создан мной,
        <a href="https://html.design/">Матчитов Еремей</a>
      </p>
    </div>
  </footer>
  <!-- end  footer section -->


  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/custom.js"></script>



</body>
</body>

</html>